<form class="mb-4" [formGroup]="form">
  <h2>Filters</h2>

  <div class="row">
    <!-- Name -->
    <div class="col-3">
      <input type="text" formControlName="name" class="form-control" placeholder="Name">
    </div>

    <!-- Username -->
    <div class="col-3">
      <input type="text" formControlName="username" class="form-control" placeholder="Username">
    </div>

    <!-- Email -->
    <div class="col-3">
      <input type="text" formControlName="email" class="form-control" placeholder="Email">
    </div>

    <!-- Phone -->
    <div class="col-3">
      <input type="text" formControlName="phone" class="form-control" placeholder="Phone">
    </div>
  </div>
</form>
